# Week 1 - The What Why and when of Machine Learning
Main idea is to follow that notebook in order to have an initial aproach -  this doesn't means that you only have to answer to the questions or implement code. Feel free to add all the interesting content that you find and take conclusions from the data. Please just use this as a template

# 0. Library import and list input files

In [1]:
import sys
import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)
import random
import matplotlib.pyplot as plt
import seaborn as sns
import sys

#Pandas more columns
pd.options.display.max_columns = None
pd.set_option('display.max_columns', None)

# Add input as import path
sys.path.insert(0,'../input')

# Plot style
plt.style.use('fivethirtyeight')

# Input data files are available in the "../input/" directory. Only linux
# from subprocess import check_output
# print(check_output(["ls", "../input"]).decode("utf8"))

# 1. Data import and first impressions

### 1.1 Load dataset and have an overview.
Objectives:
* Load the data
* Understand the data

Questions:
* Q1: How many people in your training set have survived the Titanic disaster?
* Q2: How many samples we have?
* Q3: Average age.

In [3]:
# Import the data from the dataset
train_data = pd.read_csv('../input/train.csv', index_col='id')
test_data = pd.read_csv('../input/test.csv', index_col='id')
#display(train_data)

n = random.randint(1,9)
train_data[0:n]


# ToDo 2: Rename the attributes with a fancy name
#train_data.rename()

train_data[train_data['survived']==1]

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
id,,,,,,,,,,,,,,
277,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C,6,NaN,"Paris, France"
562,2,1,"Slayter, Miss. Hilda Mary",female,30.0000,0,0,234818,12.3500,NaN,Q,13,NaN,"Halifax, NS"
111,1,1,"Fortune, Miss. Alice Elizabeth",female,24.0000,3,2,19950,263.0000,C23 C25 C27,S,10,NaN,"Winnipeg, MB"
540,2,1,"Quick, Miss. Phyllis May",female,2.0000,1,1,26360,26.0000,NaN,S,11,NaN,"Plymouth, Devon / Detroit, MI"
339,2,1,"Becker, Master. Richard F",male,1.0000,2,1,230136,39.0000,F4,S,11,NaN,"Guntur, India / Benton Harbour, MI"
155,1,1,"Hays, Mrs. Charles Melville (Clara Jennings Gr...",female,52.0000,1,1,12749,93.5000,B69,S,3,NaN,"Montreal, PQ"
564,2,1,"Smith, Miss. Marion Elsie",female,40.0000,0,0,31418,13.0000,NaN,S,9,NaN,NaN
1028,3,1,"Moran, Miss. Bertha",female,NaN,1,0,371110,24.1500,NaN,Q,16,NaN,NaN
257,1,1,"Schabert, Mrs. Paul (Emma Mock)",female,35.0000,1,0,13236,57.7500,C28,C,11,NaN,"New York, NY"
762,3,1,"Dean, Master. Bertram Vere",male,1.0000,1,2,C.A. 2315,20.5750,NaN,S,10,NaN,"Devon, England Wichita, KS"
482,2,1,"Lehmann, Miss. Bertha",female,17.0000,0,0,SC 1748,12.0000,NaN,C,12,NaN,"Berne, Switzerland / Central City, IA"
572,2,1,"Trout, Mrs. William H (Jessie L)",female,28.0000,0,0,240929,12.6500,NaN,S,NaN,NaN,"Columbus, OH"
874,3,1,"Hyman, Mr. Abraham",male,NaN,0,0,3470,7.8875,NaN,S,C,NaN,NaN
661,3,1,"Badman, Miss. Emily Louisa",female,18.0000,0,0,A/4 31416,8.0500,NaN,S,C,NaN,"London Skanteales, NY"
1025,3,1,"Moor, Master. Meier",male,6.0000,0,1,392096,12.4750,E121,S,14,NaN,NaN
250,1,1,"Ryerson, Miss. Emily Borie",female,18.0000,2,2,PC 17608,262.3750,B57 B59 B63 B66,C,4,NaN,"Haverford, PA / Cooperstown, NY"
98,1,1,"Douglas, Mrs. Walter Donald (Mahala Dutton)",female,48.0000,1,0,PC 17761,106.4250,C86,C,2,NaN,"Deephaven, MN / Cedar Rapids, IA"
1047,3,1,"Najib, Miss. Adele Kiamie ""Jane""",female,15.0000,0,0,2667,7.2250,NaN,C,C,NaN,NaN
1037,3,1,"Moussa, Mrs. (Mantoura Boulos)",female,NaN,0,0,2626,7.2292,NaN,C,NaN,NaN,NaN
56,1,1,"Carter, Mr. William Ernest",male,36.0000,1,2,113760,120.0000,B96 B98,S,C,NaN,"Bryn Mawr, PA"
0,1,1,"Allen, Miss. Elisabeth Walton",female,29.0000,0,0,24160,211.3375,B5,S,2,NaN,"St Louis, MO"
1043,3,1,"Murphy, Miss. Margaret Jane",female,NaN,1,0,367230,15.5000,NaN,Q,16,NaN,NaN
254,1,1,"Saalfeld, Mr. Adolphe",male,NaN,0,0,19988,30.5000,C106,S,3,NaN,"Manchester, England"
302,1,1,"Ward, Miss. Anna",female,35.0000,0,0,PC 17755,512.3292,NaN,C,3,NaN,NaN
380,2,1,"Cook, Mrs. (Selena Rogers)",female,22.0000,0,0,W./C. 14266,10.5000,F33,S,14,NaN,Pennsylvania
513,2,1,"Nasser, Mrs. Nicholas (Adele Achem)",female,14.0000,1,0,237736,30.0708,NaN,C,NaN,NaN,"New York, NY"
401,2,1,"Duran y More, Miss. Asuncion",female,27.0000,1,0,SC/PARIS 2149,13.8583,NaN,C,12,NaN,"Barcelona, Spain / Havana, Cuba"
196,1,1,"Marechal, Mr. Pierre",male,NaN,0,0,11774,29.7000,C47,C,7,NaN,"Paris, France"
86,1,1,"Daly, Mr. Peter Denis",male,51.0000,0,0,113055,26.5500,E17,S,5 9,NaN,"Lima, Peru"
1254,3,1,"Tornquist, Mr. William Henry",male,25.0000,0,0,LINE,0.0000,NaN,S,15,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1081,3,1,"O'Leary, Miss. Hanora ""Norah""",female,NaN,0,0,330919,7.8292,NaN,Q,13,NaN,NaN
258,1,1,"Serepeca, Miss. Augusta",female,30.0000,0,0,113798,31.0000,NaN,C,4,NaN,NaN
400,2,1,"Drew, Mrs. James Vivian (Lulu Thorne Christian)",female,34.0000,1,1,28220,32.5000,NaN,S,10,NaN,"Greenport, NY"
32,1,1,"Bonnell, Miss. Caroline",female,30.0000,0,0,36928,164.8667,C7,S,8,NaN,"Youngstown, OH"
1003,3,1,"McCoy, Mr. Bernard",male,NaN,2,0,367226,23.2500,NaN,Q,16,NaN,NaN
207,1,1,"Minahan, Miss. Daisy E",female,33.0000,1,0,19928,90.0000,C78,Q,14,NaN,"Green Bay, WI"
606,3,1,"Abrahamsson, Mr. Abraham August Johannes",male,20.0000,0,0,SOTON/O2 3101284,7.9250,NaN,S,15,NaN,"Taalintehdas, Finland Hoboken, NJ"
218,1,1,"Oliva y Ocana, Dona. Fermina",female,39.0000,0,0,PC 17758,108.9000,C105,C,8,NaN,NaN
794,3,1,"Emanuel, Miss. Virginia Ethel",female,5.0000,0,0,364516,12.4750,NaN,S,13,NaN,"New York, NY"
1033,3,1,"Moss, Mr. Albert Johan",male,NaN,0,0,312991,7.7750,NaN,S,B,NaN,NaN
168,1,1,"Icard, Miss. Amelie",female,38.0000,0,0,113572,80.0000,B28,NaN,6,NaN,NaN
613,3,1,"Albimona, Mr. Nassef Cassem",male,26.0000,0,0,2699,18.7875,NaN,C,15,NaN,"Syria Fredericksburg, VA"
611,3,1,"Aks, Master. Philip Frank",male,0.8333,0,1,392091,9.3500,NaN,S,11,NaN,"London, England Norfolk, VA"
122,1,1,"Frolicher, Miss. Hedwig Margaritha",female,22.0000,0,2,13568,49.5000,B39,C,5,NaN,"Zurich, Switzerland"
1247,3,1,"Thorneycroft, Mrs. Percival (Florence Kate White)",female,NaN,1,0,376564,16.1000,NaN,S,10,NaN,NaN
329,2,1,"Angle, Mrs. William A (Florence ""Mary"" Agnes H...",female,36.0000,1,0,226875,26.0000,NaN,S,11,NaN,"Warwick, England"
541,2,1,"Quick, Miss. Winifred Vera",female,8.0000,1,1,26360,26.0000,NaN,S,11,NaN,"Plymouth, Devon / Detroit, MI"
78,1,1,"Compton, Mrs. Alexander Taylor (Mary Eliza Ing...",female,64.0000,0,2,PC 17756,83.1583,E45,C,14,NaN,"Lakewood, NJ"
68,1,1,"Chevre, Mr. Paul Romaine",male,45.0000,0,0,PC 17594,29.7000,A9,C,7,NaN,"Paris, France"
59,1,1,"Cassebeer, Mrs. Henry Arthur Jr (Eleanor Genev...",female,NaN,0,0,17770,27.7208,NaN,C,5,NaN,"New York, NY"
213,1,1,"Newell, Miss. Madeleine",female,31.0000,1,0,35273,113.2750,D36,C,6,NaN,"Lexington, MA"
87,1,1,"Daniel, Mr. Robert Williams",male,27.0000,0,0,113804,30.5000,NaN,S,3,NaN,"Philadelphia, PA"
550,2,1,"Richards, Mrs. Sidney (Emily Hocking)",female,24.0000,2,3,29106,18.7500,NaN,S,4,NaN,"Cornwall / Akron, OH"
231,1,1,"Peuchen, Major. Arthur Godfrey",male,52.0000,0,0,113786,30.5000,C104,S,6,NaN,"Toronto, ON"
984,3,1,"Madigan, Miss. Margaret ""Maggie""",female,NaN,0,0,370370,7.7500,NaN,Q,15,NaN,NaN
163,1,1,"Holverson, Mrs. Alexander Oskar (Mary Aline To...",female,35.0000,1,0,113789,52.0000,NaN,S,8,NaN,"New York, NY"
29,1,1,"Bjornstrom-Steffansson, Mr. Mauritz Hakan",male,28.0000,0,0,110564,26.5500,C52,S,D,NaN,"Stockholm, Sweden / Washington, DC"
783,3,1,"Duquemin, Mr. Joseph",male,24.0000,0,0,S.O./P.P. 752,7.5500,NaN,S,D,NaN,"England Albion, NY"
35,1,1,"Bowen, Miss. Grace Scott",female,45.0000,0,0,PC 17608,262.3750,NaN,C,4,NaN,"Cooperstown, NY"
845,3,1,"Hakkarainen, Mrs. Pekka Pietari (Elin Matilda ...",female,24.0000,1,0,STON/O2. 3101279,15.8500,NaN,S,15,NaN,NaN

Questions:
* Q1: How many people in your training set have survived the Titanic disaster?

In [ ]:
train_data[train_data['survived']==1]

* Q2: How many samples we have?

In [ ]:
train_data['survived'].count()

* Q3: Average age.

In [ ]:
np.average(train_data['age'].dropna())

### 1.2 Plot the data
Objectives:

* Divide the features in two categories: numerical and categorical.
* Represent each one of the features with one plot.
* Create a new boolean feature named Child that the defines if the passenger is a kid or not.

Notes:

Try to show multiple plots using the :
```
fig = plt.figure(figsize=(18,18))
sns.distplot(train_data[column].dropna(),ax=plt.subplot(221));
```

In [ ]:
num_cols = list(train_data._get_numeric_data().columns)
cat_cols = list(set(train_data.columns) - set(num_cols))
plt.figure(figsize=(90,90),dpi=60)
sns.barplot(x="age",y="survived", data=train_data)
        

train_data["Child"] = train_data["age"] < 12

#### Numerical
Questions:
* Q1: How many kids survived to the accident?

In [ ]:
train_data[(train_data["survived"]==1)&train_data["Child"]==True]

* Q2: Pclass feature is important?

In [ ]:
sns.barplot(x="pclass", y="survived", data=train_data)

* Q3: Which is the biggest cabin number?

In [ ]:
lista = []

for i in list(train_data["cabin"].dropna()):
    lista+=i.split(' ')
max_cabin_number=max([int(i[1:]) for i in lista if i[1:].isdigit()])

max_cabin_number

* Q4: Which is the proportion depending on the Fare of the passengers?

In [ ]:
train_data.dropna()
condition = train_data#[(train_data["fare"] < 500.0) & (train_data["fare"] > 0.0)]
intervals = pd.cut(condition["fare"], 3)
train_data["intervals"] = intervals
train_data["survived"]

#dead by fare
dead = train_data[train_data["survived"]==0]
dead.loc[:,'survived']=1
grouped_dead = dead.groupby('intervals').sum()

#alive by fare
alive = train_data[train_data["survived"]==1]
grouped_alive = alive.groupby('intervals').sum()

grouped_alive["survived"] / grouped_dead["survived"]

In [ ]:
# Example Survived/Age
sns.distplot(train_data["age"].dropna());
# X-axis Label
plt.xlabel('Survived or Not Survived?', fontsize=14);
# Y-axis Label
plt.ylabel("Age", fontsize=14);
# Printing Chart
plt.show()

In [ ]:
""" Your work """
# Questions

#### Categorical
Questions:
* Q1:  How many woman/man died?

In [ ]:
non_survivors = train_data["survived"] == 0
men =  train_data["sex"] == "male"
women =  train_data["sex"] == "female"

print("men casualties:", len(train_data[men & non_survivors]))
print("women casualties:", len(train_data[women & non_survivors]))
data_casualties = train_data[non_survivors]

* Q2:  Where did the most people embark?

In [ ]:
from collections import Counter
Counter(train_data["embarked"]).most_common(1)[0][0]

* Q3:  How many johns are in the boat?

In [ ]:
sum([True for i in list(train_data["name"]) if "john" in i.lower()])

* Q4:  How many embarked places exist?

In [ ]:
len(set(train_data["embarked"]))

* Q5:  Name repetitions

In [ ]:
from collections import Counter
lst=[]
for i in train_data["name"]:
    lst+=[(i.split(',')[1].split(' ')[2].replace("(",""))]
#Counter(train_data["name"])
c=Counter(lst)
for k,v in c.items():
    print(k) if v >1 else None

In [ ]:
"""Plot Example"""
ax = sns.countplot(x="sex", data=train_data);
# X-axis Label
plt.xlabel("Sex", fontsize=14);
# Y-axis Label
plt.ylabel('Number of occurrences', fontsize=14)
# Setting Legend location 
plt.legend(loc=1);

# Add percents over bars
# Get heights of our bars
height = [p.get_height() if p.get_height()==p.get_height() else 0 for p in ax.patches]
# Coun number of bar groups 
ncol = int(len(height)/2)
# Coun total height of groups
total = [height[i] + height[i + ncol] for i in range(ncol)] * 2
# Loop through bars
for i, p in enumerate(ax.patches):   
    # Adding percentages   
    ax.text(p.get_x()+p.get_width()/2, height[i]*1.01 + 10,
        '{:1.0%}'.format(height[i]/float(total[i])), ha="center", size=14) 

plt.show()

### 1.3 Fill missing data
Objectives:
* Think in how to fill missing data
    Ex: Missing Embarked can be filled depending on the Fare?
*  Discuss the importance of fill the missing data

In [215]:
# ToDo 1: Show the missing data for each feature
train_data.info()

# ToDo 2: Propose at least one method to fill the missing data of one feature
from sklearn.preprocessing import Imputer
#Imputer().fit_transform(X=train_data)
train_data

<class 'pandas.core.frame.DataFrame'>
Int64Index: 654 entries, 277 to 639
Data columns (total 14 columns):
pclass       654 non-null int64
survived     654 non-null int64
name         654 non-null object
sex          654 non-null object
age          513 non-null float64
sibsp        654 non-null int64
parch        654 non-null int64
ticket       654 non-null object
fare         653 non-null float64
cabin        146 non-null object
embarked     653 non-null object
boat         249 non-null object
body         57 non-null float64
home.dest    373 non-null object
dtypes: float64(3), int64(4), object(7)
memory usage: 76.6+ KB

,pclass,survived,name,sex,age,sibsp,parch,ticket,fare,cabin,embarked,boat,body,home.dest
id,,,,,,,,,,,,,,
277,1,1,"Spencer, Mrs. William Augustus (Marie Eugenie)",female,NaN,1,0,PC 17569,146.5208,B78,C,6,NaN,"Paris, France"
562,2,1,"Slayter, Miss. Hilda Mary",female,30.0,0,0,234818,12.3500,NaN,Q,13,NaN,"Halifax, NS"
111,1,1,"Fortune, Miss. Alice Elizabeth",female,24.0,3,2,19950,263.0000,C23 C25 C27,S,10,NaN,"Winnipeg, MB"
930,3,0,"Kiernan, Mr. Philip",male,NaN,1,0,367229,7.7500,NaN,Q,NaN,NaN,NaN
841,3,0,"Hagardon, Miss. Kate",female,17.0,0,0,AQ/3. 30631,7.7333,NaN,Q,NaN,NaN,NaN
585,2,0,"Weisz, Mr. Leopold",male,27.0,1,0,228414,26.0000,NaN,S,NaN,293.0,"Bromsgrove, England / Montreal, PQ"
609,3,0,"Adams, Mr. John",male,26.0,0,0,341826,8.0500,NaN,S,NaN,103.0,"Bournemouth, England"
540,2,1,"Quick, Miss. Phyllis May",female,2.0,1,1,26360,26.0000,NaN,S,11,NaN,"Plymouth, Devon / Detroit, MI"
1075,3,0,"Odahl, Mr. Nils Martin",male,23.0,0,0,7267,9.2250,NaN,S,NaN,NaN,NaN
390,2,0,"Deacon, Mr. Percy William",male,17.0,0,0,S.O.C. 14879,73.5000,NaN,S,NaN,NaN,NaN
921,3,0,"Keefe, Mr. Arthur",male,NaN,0,0,323592,7.2500,NaN,S,A,NaN,NaN
339,2,1,"Becker, Master. Richard F",male,1.0,2,1,230136,39.0000,F4,S,11,NaN,"Guntur, India / Benton Harbour, MI"
155,1,1,"Hays, Mrs. Charles Melville (Clara Jennings Gr...",female,52.0,1,1,12749,93.5000,B69,S,3,NaN,"Montreal, PQ"
564,2,1,"Smith, Miss. Marion Elsie",female,40.0,0,0,31418,13.0000,NaN,S,9,NaN,NaN
694,3,0,"Burke, Mr. Jeremiah",male,19.0,0,0,365222,6.7500,NaN,Q,NaN,NaN,"Co Cork, Ireland Charlestown, MA"
1028,3,1,"Moran, Miss. Bertha",female,NaN,1,0,371110,24.1500,NaN,Q,16,NaN,NaN
1184,3,0,"Samaan, Mr. Elias",male,NaN,2,0,2662,21.6792,NaN,C,NaN,NaN,NaN
633,3,0,"Andreasson, Mr. Paul Edvin",male,20.0,0,0,347466,7.8542,NaN,S,NaN,NaN,"Sweden Chicago, IL"
907,3,0,"Jussila, Miss. Katriina",female,20.0,1,0,4136,9.8250,NaN,S,NaN,NaN,NaN
426,2,0,"Hale, Mr. Reginald",male,30.0,0,0,250653,13.0000,NaN,S,NaN,75.0,"Auburn, NY"
1210,3,0,"Skoog, Mr. Wilhelm",male,40.0,1,4,347088,27.9000,NaN,S,NaN,NaN,NaN
257,1,1,"Schabert, Mrs. Paul (Emma Mock)",female,35.0,1,0,13236,57.7500,C28,C,11,NaN,"New York, NY"
474,2,0,"Kvillner, Mr. Johan Henrik Johannesson",male,31.0,0,0,C.A. 18723,10.5000,NaN,S,NaN,165.0,"Sweden / Arlington, NJ"
439,2,0,"Herman, Mr. Samuel",male,49.0,1,2,220845,65.0000,NaN,S,NaN,NaN,"Somerset / Bernardsville, NJ"
9,1,0,"Artagaveytia, Mr. Ramon",male,71.0,0,0,PC 17609,49.5042,NaN,C,NaN,22.0,"Montevideo, Uruguay"
948,3,0,"Lane, Mr. Patrick",male,NaN,0,0,7935,7.7500,NaN,Q,NaN,NaN,NaN
762,3,1,"Dean, Master. Bertram Vere",male,1.0,1,2,C.A. 2315,20.5750,NaN,S,10,NaN,"Devon, England Wichita, KS"
802,3,0,"Flynn, Mr. John",male,NaN,0,0,368323,6.9500,NaN,Q,NaN,NaN,NaN
482,2,1,"Lehmann, Miss. Bertha",female,17.0,0,0,SC 1748,12.0000,NaN,C,12,NaN,"Berne, Switzerland / Central City, IA"
893,3,0,"Johansson, Mr. Nils",male,29.0,0,0,347467,7.8542,NaN,S,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
408,2,0,"Fillbrook, Mr. Joseph Charles",male,18.0,0,0,C.A. 15185,10.5000,NaN,S,NaN,NaN,"Cornwall / Houghton, MI"
87,1,1,"Daniel, Mr. Robert Williams",male,27.0,0,0,113804,30.5000,NaN,S,3,NaN,"Philadelphia, PA"
810,3,0,"Ford, Mr. William Neal",male,16.0,1,3,W./C. 6608,34.3750,NaN,S,NaN,NaN,"Rotherfield, Sussex, England Essex Co, MA"
276,1,0,"Spencer, Mr. William Augustus",male,57.0,1,0,PC 17569,146.5208,B78,C,NaN,NaN,"Paris, France"
751,3,0,"Dantcheff, Mr. Ristiu",male,25.0,0,0,349203,7.8958,NaN,S,NaN,NaN,"Bulgaria Chicago, IL"
550,2,1,"Richards, Mrs. Sidney (Emily Hocking)",female,24.0,2,3,29106,18.7500,NaN,S,4,NaN,"Cornwall / Akron, OH"
231,1,1,"Peuchen, Major. Arthur Godfrey",male,52.0,0,0,113786,30.5000,C104,S,6,NaN,"Toronto, ON"
879,3,0,"Ivanoff, Mr. Kanio",male,NaN,0,0,349201,7.8958,NaN,S,NaN,NaN,NaN
896,3,0,"Johnson, Mr. Alfred",male,49.0,0,0,LINE,0.0000,NaN,S,NaN,NaN,NaN
835,3,0,"Guest, Mr. Robert",male,NaN,0,0,376563,8.0500,NaN,S,NaN,NaN,NaN
752,3,0,"Davies, Mr. Alfred J",male,24.0,2,0,A/4 48871,24.1500,NaN,S,NaN,NaN,"West Bromwich, England Pontiac, MI"
984,3,1,"Madigan, Miss. Margaret ""Maggie""",female,NaN,0,0,370370,7.7500,NaN,Q,15,NaN,NaN
163,1,1,"Holverson, Mrs. Alexander Oskar (Mary Aline To...",female,35.0,1,0,113789,52.0000,NaN,S,8,NaN,"New York, NY"
1063,3,0,"Nirva, Mr. Iisakki Antino Aijo",male,41.0,0,0,SOTON/O2 3101272,7.1250,NaN,S,NaN,NaN,"Finland Sudbury, ON"
29,1,1,"Bjornstrom-Steffansson, Mr. Mauritz Hakan",male,28.0,0,0,110564,26.5500,C52,S,D,NaN,"Stockholm, Sweden / Washington, DC"
200,1,0,"McCaffry, Mr. Thomas Francis",male,46.0,0,0,13050,75.2417,C6,C,NaN,292.0,"Vancouver, BC"
285,1,0,"Straus, Mr. Isidor",male,67.0,1,0,PC 17483,221.7792,C55 C57,S,NaN,96.0,"New York, NY"
1267,3,0,"Van Impe, Mrs. Jean Baptiste (Rosalie Paula Go...",female,30.0,1,1,345773,24.1500,NaN,S,NaN,NaN,NaN
783,3,1,"Duquemin, Mr. Joseph",male,24.0,0,0,S.O./P.P. 752,7.5500,NaN,S,D,NaN,"England Albion, NY"
1074,3,0,"O'Connor, Mr. Patrick",male,NaN,0,0,366713,7.7500,NaN,Q,NaN,NaN,NaN
1087,3,0,"Olsson, Mr. Nils Johan Goransson",male,28.0,0,0,347464,7.8542,NaN,S,NaN,NaN,NaN
982,3,0,"Lyntakoff, Mr. Stanko",male,NaN,0,0,349235,7.8958,NaN,S,NaN,NaN,NaN
677,3,0,"Bostandyeff, Mr. Guentcho",male,26.0,0,0,349224,7.8958,NaN,S,NaN,NaN,"Bulgaria Chicago, IL"
977,3,0,"Lovell, Mr. John Hall (""Henry"")",male,20.5,0,0,A/5 21173,7.2500,NaN,S,NaN,NaN,NaN
35,1,1,"Bowen, Miss. Grace Scott",female,45.0,0,0,PC 17608,262.3750,NaN,C,4,NaN,"Cooperstown, NY"
626,3,0,"Andersson, Miss. Ida Augusta Margareta",female,38.0,4,2,347091,7.7750,NaN,S,NaN,NaN,"Vadsbro, Sweden Ministee, MI"
640,3,0,"Asplund, Master. Clarence Gustaf Hugo",male,9.0,4,2,347077,31.3875,NaN,S,NaN,NaN,"Sweden Worcester, MA"
845,3,1,"Hakkarainen, Mrs. Pekka Pietari (Elin Matilda ...",female,24.0,1,0,STON/O2. 3101279,15.8500,NaN,S,15,NaN,NaN
1291,3,0,"Willer, Mr. Aaron (""Abi Weller"")",male,NaN,0,0,3410,8.7125,NaN,S,NaN,NaN,NaN
639,3,0,"Asplund, Master. Carl Edgar",male,5.0,4,2,347077,31.3875,NaN,S,NaN,NaN,"Sweden Worcester, MA"

# 2. First prediction

In [ ]:
# ToDo 1: Use the gender feature to classify the test_data
test_data["survived"] = 0
test_data.loc[test_data["fare"] > 9 , "survived"] = 1

In [ ]:
from utils import accuracy_score
# Compute the accuracy of your first predicter
print ("Current accuracy: %f" % accuracy_score(test_data))